*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
  
}

body{
    font-size: 13px;
    background: #EDF2F8
}
.contenedor{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    
    width:750px;
    background: white;
    display: flex;

}

@media(max-width:768px){
    .main{
        flex-direction: column;
    }
}

.info_test{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer_test{
    position: relative;
    display: flex;
 
    padding: 15px 0;
    
}
.footer_img{
    display: flex;
    align-items: center;
}

.footer_img img{
    border-radius: 50%;
    width: 30%;
    margin-right: 8px;
}

.compartir{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}
.primer_parrafo{
    font-family: 'Archivo', sans-serif;
}
.segundo_parrafo{
    color: hsl(214, 17%, 51%);
    margin-top: 20px;
    font-family: 'Roboto', sans-serif; 

}

.footer_text{
    font-family: 'Roboto', sans-serif; 
}

#redes-sociales-compartir{
    transition: all 0.2s ease-in-out;
   /* padding: 7px 10px;*/
    position: absolute;
    top: 0px;
    right: 0px;
}
#redes-sociales-compartir i {
    padding:8px;
}

.ocultar{
  
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.facebook{
    background: #4867AA;
    color:#FFF;
    
}

.twitter{
    background: #00A2F3;
    color:#FFF
}